<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <switches>
      <!--Use 0 for off, 1 for error, 2 for warning, 3 for info and 4 for verbose-->
      <add name="EqtTraceLevel" value="4" />
    </switches>
 </system.diagnostics>
<appSettings>
    <add key="EnableSnapshotInfo" value="true"/>
    <add key="EnableHttpLogger" value="true"/>
    <add key="StopTestRunCallTimeoutInSeconds" value="5"/>
    <add key="LogSizeLimitInMegs" value="20"/>
    <add key="CreateTraceListener" value="no"/>
    <add key="GetCollectorDataTimeout" value="300"/>
</appSettings>
</configuration>